source https://api.nuget.org/v3/index.json
framework: auto-detect

storage: none

nuget Aardvark.Build                    ~> 2.0.3
nuget FSharp.Core                       >= 8.0.0 lowest_matching: true

nuget Aardvark.Base                     ~> 5.3.14
nuget Aardvark.Base.Tensors             ~> 5.3.14

// Tests
nuget NUnit                             ~> 3.14.0
nuget FsUnit                            ~> 5.6.1
nuget NUnit3TestAdapter                 ~> 4.5.0
nuget Microsoft.NET.Test.Sdk            ~> 17.9.0
nuget YoloDev.Expecto.TestSdk           ~> 0.14.3

nuget BenchmarkDotNet                   ~> 0.13.12