type project
id Aardvark.OMM
authors Aardvark Platform Team
owners Aardvark Platform Team
projectUrl http://github.com/aardvark-community
licenseUrl http://www.apache.org/licenses/LICENSE-2.0.txt
repositoryType git
repositoryUrl https://github.com/aardvark-community/aardvark.omm
description
    Wrapper for the NVIDIA OMM SDK with Aardvark-style native dependencies.
include-pdbs true